page-today {
    ion-content.content-md {
        background-color: $green2;
    }

  .backgroundToday {
    background-color: $green2;
    padding: 0;
    margin: 0;
    height: 20%;
  }

  .backgroundTomorrow {
    background-color: $green1;
    padding: 0;
    margin: 0;
    height: 20%;
  }

  .backgroundAfterTomorrow {
    background-color: $green3;
    padding: 0;
    margin: 0;
    height: 20%;
  }

  .day {
    position: relative;
    top: 30%;
    right: 43.75%;
    font-size: 10px;
    color: $beige2;
    text-align: center;
  }

  .date {
    position: relative;
    top: 30%;
    left: 5%;
    font-size: 18px;
    color: $beige2
  }

  .day-title {
    position: relative;
    left: 50%;
    font-size: 18px;
    color: $beige2
  }

  .calendar {
    text-align: center;
  }
}
