page-today {
  ion-list .selectedDays {
    margin: 0;
    height: 100px;
    width: 100%;
    border-radius: 0px;
  }

  .events {
    transition: 300ms ease-out;
    max-height: 0px;
    transform: translatex(100%);
    box-shadow: 0px 1px 10px black;

    &.selected {
      transform: translatex(0);
      max-height: 100%;
    }
    ion-col span {
      padding: 5px;
      border-radius: 5px;
    }

    ion-item-sliding {
      ion-item {
        height: 100px;
        border-bottom: 1px solid rgb(222, 222, 222);
      }
    }
  }

  .list {
    margin: -1px 0 0px 0;
  }

  .item.item-block div.item-inner {
    border: none;
  }

  ion-list .day-container:nth-child(1) .selectedDays {
    >ion-item {
      background-color: $green2;
    }
      background-color: $green2;

    button {
      background-color: #ffffff;
      color: $green2;
      font-size: 30px;
    }
  }

  ion-list .day-container:nth-child(2) .selectedDays {
    >ion-item {
      background-color: $green1;
    }
      background-color: $green1;

    button {
      background-color: #ffffff;
      color: $green1;
      font-size: 30px;
    }
  }

  ion-list .day-container:nth-child(3) .selectedDays {
    >ion-item {
      background-color: $green3;
    }
      background-color: $green3;

    button {
      background-color: #ffffff;
      color: $green3;
      font-size: 30px;
    }
  }

  ion-list ion-item-sliding ion-col:nth-child(2) {
    h1 {
      line-height: 44px;
    }
  }


  ion-list .selectedEvents ion-col {
    h1, h2, p {
      color: $black1;
    }

    p {
      line-height: 1;
      margin: 0;
    }
  }


  ion-list ion-item-sliding .item ion-col {
    h1, h2, p {
      color: #ffffff;
    }

    p {
      line-height: 1;
      margin: 0;
    }
  }

  .calendar {
    text-align: center;
  }

  .calendar {
    h1, h2, p {
      color: $black1;
    }

    p {
      line-height: 1;
      margin: 0;
    }
  }


  .days ion-col {
    color: grey;

    &.is-current-month {
      color: $white;

      &.is-selected,  &.is-selected.is-today{
        background-color: $white;
        color: $green2;
        border-radius: 5px;
      }

      &.is-today{
        background-color: $green3;
        border-radius: 5px;
      }
    }
  }

  ion-list ion-item-sliding ion-col {
    padding-top: 8px;
  }
}
