page-today {

}


.card-background-page {

  .background {
    height: 50%;
  }

  .day {
    position: absolute;
    top: -10%;
    left: 5%;
    font-size: 10px ;
  }

  .date {
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 18px;
  }

  .day-title {
    position: absolute;
    top: -5%;
    left: 45%;
    font-size: 18px;
  }

  .calendar {
    text-align: center;
  }
}
