<ion-content>
  <ion-list>
    <div class="day-container" *ngFor="let date of selectedDays">
      <ion-card class="selectedDays" (click)="setClickedDate(date.day)">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col width-20>
                <p> {{ date.day.format('ddd').toUpperCase().substring(0, 3) }} </p>
                <h1> {{ date.day.format('DD') }} </h1>
              </ion-col>
              <ion-col width-80>
                <h1>{{ ((getDayName(date.day) | translate) || date.day.format('dddd')).toUpperCase() }}</h1>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-list class="events" [ngClass]="{ 'selected' : date.day.isSame(clickedDate)}" >
        <ion-item-sliding *ngFor="let event of date.events"  #item (click)="navigateToEvent(event)">
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col width-20 >
                    <span class="{{ utils.getCategoryClass(event.category) }}">
                      {{  moment(event.start_time).format('HH:MM') }}
                    </span>
                </ion-col>
                <ion-col width-80>
                  <h2>{{ event.title }}</h2>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button class="{{ utils.getCategoryClass(event.category) }}">{{ event.location }}</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </ion-list>

  <ion-item color="green2">
    <ion-row>
    <ion-col width-20 class="left-arrow" (click)="getPreviousMonth()">
        <ion-icon name="arrow-dropleft-circle" color="white" medium></ion-icon>
    </ion-col>
    <ion-col width-60 class="month-name" (click)="navigateToAuth()">
      <h2>{{ moment().month(displayedMonth).format("MMMM") + " " + displayedYear }}</h2>
    </ion-col>
    <ion-col width-20 class="right-arrow" (click)="getNextMonth()">
        <ion-icon name="arrow-dropright-circle" color="white" medium></ion-icon>
    </ion-col>
    </ion-row>
  </ion-item>

  <ion-item color="green2" class="calendar">
    <ion-grid>
      <ion-row>
        <ion-col>{{ 'sundayLetter' | translate }}</ion-col>
        <ion-col>{{ 'mondayLetter' | translate }}</ion-col>
        <ion-col>{{ 'tuesdayLetter' | translate }}</ion-col>
        <ion-col>{{ 'wednesdayLetter' | translate }}</ion-col>
        <ion-col>{{ 'thursdayLetter' | translate }}</ion-col>
        <ion-col>{{ 'fridayLetter' | translate }}</ion-col>
        <ion-col>{{ 'saturdayLetter' | translate }}</ion-col>
      </ion-row>

      <ion-row *ngFor="let week of month" class="days">
        <ion-col *ngFor="let day of week"
                  [ngClass]="{'is-selected': selectedDays[0].day.isSame(day, 'day'), 'is-today': today.isSame(day, 'day'), 'is-current-month': day.month() == displayedMonth }"
                  (click)="setSelectedDay(day)">
          {{ day ? day.date() : "" }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
