page-report {
    ion-content.content {
        background-color: $white;
    }

    .segment {
        .segment-button.segment-activated, .segment-button {
            border-color: $white;
            color: $white;
        }
    }

    .segment-ios-secondary .segment-button.segment-activated{
        color: $green2;
        background-color: $white;
    }
    
    .toolbar-background {
        background-color: $green2;
    }

    .list .item-block .item-inner {
        border: none;
    }

    canvas {
        max-width: 400px;
        max-height: 400px;
        margin: 0 auto;
    }

    ion-item.pie-chart{
        margin:1em 0;
        text-align: center;
        h1 {
            margin-bottom: 0.5em;
        }
    }

    ion-item.diagram {
        ion-label div {
            border-radius: 5px;

            div.full-width {
                height: 3em;
                width: 100%;

                div {
                    height: 3em;
                    border-radius: 0px;
                    background: rgba(255, 255, 255, 0.4);
                    float: right;
                }

                span {
                    position: absolute;
                    line-height: 2em;
                    font-size: 2em;
                    margin: 0 0.1em;

                    &.passed-time{
                        right: 0.6em;
                    }
                }
            }
        }
        
    }
    .has-refresher > .scroll-content {
        border-top: none;
    }
}

.ios page-report.ion-page.show-page  .content.content-ios{
    margin-top: 0px;
}