# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coach-app/coverage/
coach-app/dist/
coach-app/node_modules/
coach-app/tmp/
coach-app/temp/
coach-app/hooks/
coach-app/platforms/
coach-app/plugins/
coach-app/plugins/android.json
coach-app/plugins/ios.json
coach-app/www/
coach-app/$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
