page-walkthrough {
    ion-content.content {
        background-color: $white;

        img {
            max-width:100%;
            max-height:400px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);

            &.logo {
                 border-radius: 10px;
                 max-height: 200px;
                 border-bottom: none;
            }
        }
        p, h2 {
            padding: 0px 40px;
        }
        
        p {
            font-size: 16px;
        }
    }

    .toolbar-background {
        background-color: $green2;
    }

    .toolbar-content {
        color : $white;
    }
    .bar-buttons .bar-button {
        color : $white;
    }
}