<ion-header (swipe)="onWeekSlide($event)">
    <ion-toolbar>
        <ion-item color="green2">
            <ion-row>
            <ion-col width-20 class="left-arrow">
                <ion-icon name="arrow-dropleft-circle" color="white" medium (click)="getPreviousWeek()"></ion-icon>
            </ion-col>
            <ion-col width-60 class="month-name">
            <h2>{{ moment().month(displayedMonth).format("MMMM") + " " + displayedYear }}</h2>
            </ion-col>
            <ion-col width-20 class="right-arrow">
                <ion-icon name="arrow-dropright-circle" color="white" medium (click)="getNextWeek()"></ion-icon>
            </ion-col>
            </ion-row>
        </ion-item>
    </ion-toolbar>
    <ion-toolbar>
        <ion-grid>
            <ion-row class="week-days">
                <ion-col>
                </ion-col>
                <ion-col *ngFor="let date of week">
                    <span>{{ date.day.format("D") }}</span>
                    {{ date.day.format('ddd').toUpperCase().substring(0, 3) }}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content id="week-content" (swipe)="onWeekSlide($event)">
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content>{{ 'refreshing' | translate }}</ion-refresher-content>
    </ion-refresher>
    <ion-grid>
        <ion-row class="events">
            <ion-col>
                <ion-row *ngFor="let hour of hours" class="hour" id="{{ hour + 'H' }}">
                    <ion-col>
                        {{ utils.displayHour(hour) }}
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col *ngFor="let date of week" class="day" [ngClass]="{'is-today': today.isSame(date.day, 'day') }">
                <ion-row *ngFor="let hour of hours" class="hour">
                    <ion-col (click)="navigateToEventCreation(date.day, hour)">
                        <div class="{{ utils.getCategoryClass(event.category) }}"
                            *ngFor="let event of getIndexedEvents(date, hour)"
                            [ngStyle]="{'margin-top': getEventMargin(event), height: getEventHeight(event)}"
                            (click)="navigateToEvent(event, $event)">
                            <span>
                                {{ event.title }}
                            </span>
                            <p>
                                {{ 'start' | translate }}
                                <br>
                                {{ moment(event.startTime).format("HH:mm") }}
                            </p>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
