page-event {
    ion-content.content {
        background-color: $white;
    }

    .modifyButton {
      float: right;
    }

    .category-undefined {
        .toolbar-background, button, .button:hover:not(.disable-hover) {
            background-color: $grey2;
            color: $white;
        }
        .back-button.bar-button {
            color: $white;
        }
        .button {
          float: right;
        }
    }

    .category-class {
        .toolbar-background, button, .button:hover:not(.disable-hover) {
            background-color: $primary;
            color: $white;
        }
        .back-button.bar-button {
            color: $white;
        }
    }

    .category-study {
        .toolbar-background, button, .button:hover:not(.disable-hover) {
            background-color: $green3;
            color: $white;
        }
        .back-button.bar-button {
            color: $white;
        }
    }

    .category-sport {
        .toolbar-background, button, .button:hover:not(.disable-hover) {
            background-color: $orange;
            color: $white;
        }
        .back-button.bar-button {
            color: $white;
        }
    }

    .category-leisure {
        .toolbar-background, button, .button:hover:not(.disable-hover) {
            background-color: $danger;
            color: $white;
        }
        .back-button.bar-button {
            color: $white;
        }
    }

    .category-work {
        .toolbar-background, button, .button:hover:not(.disable-hover) {
            background-color: $purple;
            color: $white;
        }
        .back-button.bar-button {
            color: $white;
        }
    }
}
