<ion-header class="{{ utils.getCategoryClass(event.category) }}">
  <ion-navbar hide-tabs>
    {{ moment(event.start_datetime).format("ll") }}
    <button ion-button class= "modifyButton" (click)="navigateToEventCreation(event)">Modifier</button>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list class="{{ utils.getCategoryClass(event.category) }}">
    <ion-item>
        <ion-thumbnail item-left>
            <ion-icon name="{{ utils.getIconName(event.category) }}"></ion-icon>
        </ion-thumbnail>
        <h1>
            {{ event.title }}
        </h1>
    </ion-item>
    <ion-item *ngIf="event.summary">
        <ion-icon name="list" item-left></ion-icon>
        {{ event.summary }}
    </ion-item>
    <ion-item *ngIf="event.location">
        <ion-icon name="navigate" item-left></ion-icon>
        {{ event.location }}
    </ion-item>
    <ion-item>
        <ion-icon name="calendar" item-left></ion-icon>
        {{ moment(event.start_datetime).format("dddd, MMM DD, YYYY") }}
    </ion-item>
    <ion-item *ngIf="event.passedTime != null">
        <h2> 
            {{ 'timePassed' | translate }} : {{ moment.utc(event.passedTime * 1000).format("HH:mm") }}
        </h2>
    </ion-item>
    <ion-item>
        <span class="{{ utils.getCategoryClass(event.category) }}">
            <button full large ion-button (click)="navigateToEventStart()">{{ (event.passedTime == null ? 'startThisActivity' : 'resumeThisActivity') | translate }}</button>
            <button full large ion-button>{{ (event.passedTime == null ? 'enterTimePassed' : 'editTimePassed') | translate }}</button>
        </span>
    </ion-item>
  </ion-list>
</ion-content>
