page-setting {
  ion-content.content {
    background-color: $white;
  }
  ion-header .toolbar ion-icon {
    color: $white;
  }

  .button {
    float: right;
    margin: 1em;
    background-color: $green3;
  }

  .category-study {
    background-color: $white;
    ion-icon {
      color: $green2;
    }
    .toolbar-background, button:not(.item-cover), .button:hover:not(.disable-hover) {
      background-color: $green2;
      color: $white;
    }
    .back-button.bar-button ion-icon {
      color: $white;
    }
  }

}
