page-setting {
  ion-content.content {
    background-color: $white;
  }
  ion-header .toolbar ion-icon {
    color: $white;
  }

  .item .item-button {
    float: right;
    height: 45px;
    background-color: $green3;
  }

  .item-datetime ion-label.label {
    color: #000;
  }

  .button:hover:not(.disable-hover){
    background-color: $green3;
  }

  .toolbar-background {
      background-color: $green2;
  }

  .toolbar-content {
      color : $white;
  }

  .category-undefined {
    background-color: $white;
    ion-icon {
      color: $grey2;
    }
    .toolbar-background, button:not(.item-cover), .button:hover:not(.disable-hover) {
      background-color: $grey2;
      color: $white;
    }
    .back-button.bar-button ion-icon {
      color: $white;
    }
  }

  .category-class {
    background-color: $white;
    ion-icon {
      color: $primary;
    }
    .toolbar-background, button:not(.item-cover), .button:hover:not(.disable-hover) {
      background-color: $primary;
      color: $white;
    }
    .back-button.bar-button ion-icon {
      color: $white;
    }
  }

  .category-study {
    background-color: $white;
    ion-icon {
      color: $green2;
    }
    .toolbar-background, button:not(.item-cover), .button:hover:not(.disable-hover) {
      background-color: $green2;
      color: $white;
    }
    .back-button.bar-button ion-icon {
      color: $white;
    }
  }

}
