// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.tabs .tab-button[aria-selected=true] .tab-button-icon.icon {
    color: #ffffff;
}

.tabs .tab-button:hover:not(.disable-hover), .tabs .tab-button[aria-selected=true] {
    color: #ffffff;
}

.tabs div.tabbar {
    background: $green2;
    border-top: none;
}

.tabs .tab-button-icon.icon {
    color: #8c8c8c;
}

.tabs .tab-button {
    color: #8c8c8c;
}

.tabs .tab-button-text {
    color: #ffffff;
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
}

ion-content.content {
    background-color: $green2;
}

.category-undefined {
    background-color: $grey2;
    color: $white;
}

.category-class {
    background-color: $primary;
    color: $white;
}

.category-study {
    background-color: $green3;
    color: $white;
}

.category-sport {
    background-color: $orange;
    color: $white;
}

.category-leisure {
    background-color: $danger;
    color: $white;
}

.category-work {
    background-color: $purple;
    color: $white;
}

.right-arrow ion-icon {
    float: right;
}

.month-name {
    text-align: center;
}
