<ion-header class="{{ event ? utils.getCategoryClass(event.category) : 'category-createEvent' }}">
  <ion-navbar hide-tabs>
    {{ (event ? 'editAnEvent' : 'createAnEvent') | translate }}
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="{{ event ? utils.getCategoryClass(event.category) : 'category-createEvent' }}">
    <ion-item>
      <ion-label floating>{{ 'title' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>{{ 'location' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="location"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>{{ 'description' | translate }}</ion-label>
      <ion-textarea fz-elastic [(ngModel)]="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'category' | translate }}</ion-label>
      <ion-select  interface="action-sheet" [(ngModel)]="activityType">
        <ion-option value="0">{{ 'none' | translate }}</ion-option>
        <ion-option value="2">{{ 'study' | translate }}</ion-option>
        <ion-option value="3">{{ 'sport' | translate }}</ion-option>
        <ion-option value="4">{{ 'leisure' | translate }}</ion-option>
        <ion-option value="5">{{ 'work' | translate }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'Date' }}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" [(ngModel)]="eventDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'startTime' | translate }}</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="startTime"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'endTime' | translate }}</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="endTime"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="!event">
      <ion-label>{{ 'repetition' | translate }}</ion-label>
      <ion-select interface="popover" [(ngModel)]="repetition">
        <ion-option *ngFor="let repetition of repetitionValues" value="{{repetition.value}}">
          {{repetition.value === 0 ? "" : repetition.value + " " }} {{ repetition.label | translate }}
        </ion-option>
      </ion-select>
    </ion-item>

  <button ion-button class="save-button" (click)="saveAllEventsOrThisOnly()">{{ 'save' | translate }}</button>
  </ion-list>
</ion-content>
