page-event-start {
    ion-content.content {
        background-color: $white;
    }

    div.scroll-content div {
        text-align: center;
        margin: 1em 0em;
    }

    div.play-pause {
        &.paused button, &.paused button.button:hover:not(.disable-hover) {
            background-color: $green3;
        }
        button, button.button:hover:not(.disable-hover) {
            height: 5em;
            width: 5em;
            border-radius: 50%;
            font-size: 3em;
            background-color: $danger;
        }
    }

    div.elapsed-time {
        font-size: 5em;
        font-weight: 300;
    }

    .category-undefined {
        background-color: $white;
        ion-icon {
            color: $grey2;
        }
        .toolbar-background, button, .button:hover:not(.disable-hover) {
            background-color: $grey2;
            color: $white;
        }
        .back-button.bar-button ion-icon {
            color: $white;
        }
    }

    .category-class {
        background-color: $white;
        ion-icon {
            color: $primary;
        }
        .toolbar-background, button, .button:hover:not(.disable-hover) {
            background-color: $primary;
            color: $white;
        }
        .back-button.bar-button ion-icon {
            color: $white;
        }
    }
        

    .category-study {
        background-color: $white;
        ion-icon {
            color: $green3;
        }
        .toolbar-background, button, .button:hover:not(.disable-hover) {
            background-color: $green3;
            color: $white;
        }
        .back-button.bar-button ion-icon {
            color: $white;
        }
    }

    .category-sport {
        background-color: $white;
        ion-icon {
            color: $orange;
        }
        .toolbar-background, button, .button:hover:not(.disable-hover) {
            background-color: $orange;
            color: $white;
        }
        .back-button.bar-button ion-icon{
            color: $white;
        }
    } 

    .category-leisure {
        background-color: $white;
        ion-icon {
            color: $danger;
        }
        .toolbar-background, button, .button:hover:not(.disable-hover) {
            background-color: $danger;
            color: $white;
        }
        .back-button.bar-button ion-icon {
            color: $white;
        }
    }

    .category-work {
        background-color: $white;
        ion-icon {
            color: $purple;
        }
        .toolbar-background, button, .button:hover:not(.disable-hover) {
            background-color: $purple;
            color: $white;
        }
        .back-button.bar-button ion-icon {
            color: $white;
        }
    }
}