// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.


$beige1:     #edefe9;
$beige2:     #f6f6f2;
$beige3:     #eaeae1;
$beige4:     #d2d4c9;
$beige5:     #dae0d1;
$grey1:      #596b60;
$grey2:      #3d4641;
$black1:     #1d1d1d;
$green1:     #007c52;
$green2:     #164b28;
$green3:     #2d9d5f;
$green4:     #016734;
$green5:     #73a743;

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  white:    #ffffff,
  dark:       #222,
  beige1:     $beige1,
  beige2:     $beige2,
  beige3:     $beige3,
  beige4:     $beige4,
  beige5:     $beige5,
  grey1:      $grey1,
  grey2:      $grey2,
  black1:     $black1,
  green1:     $green1,
  green2:     $green2,
  green3:     $green3,
  green4:     $green4,
  green5:     $green5
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
